@model MVC.ViewModels.CatalogViewModels.IndexViewModel

@{
    ViewData["Title"] = "Catalog";
}
<section class="esh-catalog-hero">
    <div class="container">
    </div>
</section>

    <div class="row">
        <div class="col-md-2">
        <div class="container">
           <form asp-action="Index" asp-controller="Catalog" method="post">
            <label>
                Sorting:
                <select asp-for="@Model.SortingApplied" asp-items="@Model.Sorting"></select>
            </label>
            <label>
                Material:
                <select asp-for="@Model.MaterialFilterApplied" asp-items="@Model.Materials"></select>
            </label>
            <label>
                Source
                <select asp-for="@Model.SourceFilterApplied" asp-items="@Model.Sources"></select>
            </label>
            <label>
                Price
                <br />
                <input style="width: 45%;" min="0" asp-for="@Model.PriceMinFilterApplied" type="number"></input>
                <input style="width: 45%;" min="0" asp-for="@Model.PriceMaxFilterApplied" type="number"></input>
            </label>

            <label>
                Weight
                <br />
                <input style="width: 45%;" min="0" asp-for="@Model.WeightMinFilterApplied" type="number"></input>
                <input style="width: 45%;" min="0" asp-for="@Model.WeightMaxFilterApplied" type="number"></input>
            </label>

            <label>
                Size
                <br />
                <input style="width: 45%;" min="0" asp-for="@Model.SizeMinFilterApplied" type="number"></input>
                <input style="width: 45%;" min="0" asp-for="@Model.SizeMaxFilterApplied" type="number"></input>
            </label>

            <br />
            <br />
            <br />
            <input class="esh-catalog-send" type="image" src="~/images/arrow-right.svg" />
        </form>
        </div>
        </div>
        <div class="col-md-10">
            <div class="container">
                <div class="row">
                    <br />
                    @if(ViewBag.BasketInoperativeMsg != null)
                    {
                    <div class="alert alert-warning" role="alert">
                        &nbsp;@ViewBag.BasketInoperativeMsg
                    </div>
                    }
                </div>

                @if (Model.CatalogItems.Count() > 0)
                {
                <partial name="_pagination" for="PaginationInfo" />

                <div class="esh-catalog-items row">
                    @foreach (var catalogItem in Model.CatalogItems)
                        {
                        <div class="esh-catalog-item col-md-4">
                        <partial name="_product" model="catalogItem" />
                        </div>
                        }
                </div>

                <partial name="_pagination" for="PaginationInfo" />
                }
                else
                {
                <div class="esh-catalog-items row">
                    THERE ARE NO RESULTS THAT MATCH YOUR SEARCH
                </div>
                }
            </div>
        </div>
    </div>
